* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.inputs-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    margin-top: 100px;
}

.box1,
.box2 {
    width: 100px;
    height: 100px;
    outline: none;
    border: 4px solid rgb(198, 198, 198);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    color: rgb(99, 99, 99);
    transition: all 0.2s ease;
    cursor: pointer;
}
.box1:focus,
.box2:focus {
    border-color: rgb(40, 40, 40);
}

.signs {
    width: 20%;
    height: 70%;

    position: relative;
    box-sizing: border-box;
}

button {
    width: 100px;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 7px;
    margin-top: 20px;
    border: none;
    background-color: rgba(29, 29, 255, 0.445);
    color: white;
    cursor: pointer;
}

.result {
    width: 500px;
    height: 70px;
    background-color: rgb(231, 231, 231);
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: 700;
    color: rgb(34, 27, 27);
}

.sign {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    font-size: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.drop-down {
    position: absolute;
    background-color: rgb(243, 243, 243);
    z-index: 100;
    box-sizing: border-box;
    border-radius: 7px;
    box-shadow: 2px 4px 7px rgba(0,0,0,0.3);
    height: 0px;
    overflow: hidden;
    transition: all 0.4s ease;
}

.drop-down ul li {
    padding: 10px 7px;
    box-sizing: border-box;
    list-style-type: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
}
.drop-down ul li:hover {
    background-color: rgb(105, 105, 105);
    color: white;
}